.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: rgb(240, 187, 234);
  color: #050505;
}

.header-link {
  color: #090909;
  text-decoration: none;
  margin-right: 20px;
  padding-top: 100px;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: large;
  font-weight: bold;
}

.user-info {
  display: flex;
  align-items: center;
  margin-top: -10px;
}

.welcome-message {
  margin: 0;
  margin-right: 10px;
  margin-left: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.logout-button {
  padding: 5px 10px;
  font-size: 14px;
}
