.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin-top: 20px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #92b4d5;
  padding: 10px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
}

.header-link {
  margin: 0 10px;
  margin-bottom: 100px;
}
